
<div class="container mt-3 profileImage">
	<img class="roundedImage" src="http://localhost/Social-Media/server/{{data.profileImage}}" height="50px" width="50px">
	<img class="coverImage" src="../../assets/2.jpeg" height="200px" width="100%">
</div>


<div class="container mt-3">
	<p class="msg_success">{{msg}}</p>
	<div class="myProfile">	
	  <form>
	  	<div class="row">
	  		<div class="col-md-6">
			    <div class="input-group mb-3">
			      <div class="input-group-prepend">
			        <span class="input-group-text">First Name</span>
			      </div>
			      <input type="text" class="form-control" placeholder="First Name" id="firstname" name="firstname" [(ngModel)]="data.firstname" >
			    </div>
			</div>

		    <div class="col-md-6">
			    <div class="input-group mb-3">
			      <div class="input-group-prepend">
			        <span class="input-group-text">Last Name</span>
			      </div>
			      <input type="text" class="form-control" placeholder="Last Name" id="lastname" name="lastname" [(ngModel)]="data.lastname" >
			    </div>
			</div>

			<div class="col-md-6">
			    <div class="input-group mb-3">
			      <div class="input-group-prepend">
			        <span class="input-group-text">Email</span>
			      </div>
			      <input type="text" class="form-control" placeholder="Email" id="email" name="email" [(ngModel)]="data.email" >
			    </div>
			</div>

			<div class="col-md-6">
			    <div class="input-group mb-3">
			      <div class="input-group-prepend">
			        <span class="input-group-text">DOB</span>
			      </div>
			      <input type="text" class="form-control" placeholder="Date Of Birth" id="dob" name="dob" [(ngModel)]="data.dob" >
			    </div>
			</div>

			<div class="col-md-6">
			    <div class="input-group mb-3">
			      <div class="input-group-prepend">
			        <span class="input-group-text">Profile Photo</span>
			      </div>
			      <input type="file" class="form-control" id="profileImage" name="profileImage"  (change)="fileChange($event)">
			    </div>
			</div>

			<div class="col-md-6">
			    <div class="input-group mb-3">
			      <div class="input-group-prepend">
			        <span class="input-group-text">Cover Photo</span>
			      </div>
			      <input type="file" class="form-control" id="coverImage" name="coverImage" (change)="fileChange($event)">
			    </div>
			</div>

		</div>
		<div class="update"> 
	    	<button type="button" class="btn btn-primary" (click)="update(data)">Update your profile</button>
		</div>
	  </form>
	</div>
</div>

<div class="container mt-3 title" >
<h2>My Posts:</h2>
</div>

<div class="container mt-3 posts">
<app-timeline></app-timeline>
</div>
